<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Interop.UIAutomationClient" version="10.18362.0" targetFramework="net472" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.4" targetFramework="net472" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.4" targetFramework="net472" />
  <package id="Microsoft.CrmSdk.UII.CommonAssemblies" version="9.0.0.8" targetFramework="net472" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.4" targetFramework="net472" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.11" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net472" />
  <package id="NDde" version="2.01.0563" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OpenQA.Selenium.Winium" version="1.0.0.4" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
</packages>